@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
    --body-bg: #f5f7fa; /* Blanco con tono azulado */
    --text-color: #2c3e50; /* Azul grisáceo */
    --link-color: #007bff;
    --link-hover: #0056b3;
    --border-color: rgba(0, 0, 0, 0.1);
}

.dark-mode {
    --body-bg: #1a1a2e; /* Azul oscuro profundo */
    --text-color: #e0e0e0;
    --link-color: #ff4081;
    --link-hover: #c2185b;
    --border-color: rgba(255, 255, 255, 0.2);
}

/* General */
body {
    background-color: var(--body-bg) !important;
    color: var(--text-color) !important;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Enlaces */
a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--link-hover);
    text-decoration: none;
}

/* Columnas */
.left-column, .right-column {
    padding: 20px;
    min-height: 100vh; /* Ocupar toda la altura */
    border-color: var(--border-color);
}

/* Navbar */
.navbar-custom {
    background-color: var(--navbar-bg);
    padding: 10px;
}

.sun{
    color: #f7eb4e;
}