@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;600&display=swap');

:root {
    --body-bg: #f5f7fa; /* Blanco con tono azulado */
    --text-color: #2c3e50; /* Azul grisáceo */
    --link-color: #007bff;
    --link-hover: #0056b3;
    --border-color: rgba(0, 0, 0, 0.1);
    --font-primary: 'Poppins';
    --font-secondary: 'Roboto';
}

/* Modo oscuro */
.dark-mode {
    --body-bg: #1a1a2e; /* Azul oscuro profundo */
    --text-color: #e0e0e0;
    --link-color: #ff4081;
    --link-hover: #c2185b;
    --border-color: rgba(255, 255, 255, 0.2);
    --font-primary: 'Poppins';
    --font-secondary: 'Roboto';
}

/* General */
body {
    background-color: var(--body-bg) !important;
    color: var(--text-color) !important;
    font-family: var(--font-secondary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Enlaces */
a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease;
    font-family: var(--font-secondary);
}

a:hover {
    color: var(--link-hover);
    text-decoration: none;
}

/* Columnas */
.left-column, .right-column {
    padding: 20px;
    min-height: 100vh; /* Ocupar toda la altura */
    border-color: var(--border-color);
}

/* Navbar */
.navbar-custom {
    background-color: var(--navbar-bg);
    padding: 10px;
}

.sun {
    color: #f7eb4e;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
}

.logo-container {
    display: flex; /* Cambia inline-block a flex para mejor alineación */
    position: relative; /* Necesario para la posición absoluta del slogan */
    align-items: center;
    cursor: pointer;
}

.slogan {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%); /* Centrar el slogan */
    color: var(--text-color);
    font-family: var(--font-secondary);
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: lighter;
}

.logo-container:hover .slogan {
    display: block;
}


.logo-first {
    color: #00b894;
    font-family: var(--font-primary);
    font-weight: bold;
}

.logo-second {
    color: #007bff;
    font-family: var(--font-primary);
    font-weight: bold;
}

.left-column {
    border-right: 1px solid var(--border-color);
}

.right-column {
    border-left: 1px solid var(--border-color);
}
