:root {
    --navbar-bg: #e3f2fd; /* Azul muy claro */
    --left-bg: #ffebcc; /* Color cálido */
    --center-bg: #f0f4c3; /* Verde pastel */
    --right-bg: #ffe0e0; /* Rojo muy claro */
    --text-color: #2e2e2e; /* Gris oscuro en lugar de negro */
}

.dark-mode {
    --navbar-bg: #1a237e; /* Azul profundo */
    --left-bg: #4a148c; /* Magenta intenso */
    --center-bg: #283593; /* Azul medio */
    --right-bg: #6a1b9a; /* Púrpura oscuro */
    --text-color: #dadada; /* Gris claro en lugar de blanco */
}
